RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} -s [OR]
#RewriteCond %{REQUEST_FILENAME} -l [OR]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^.*$ - [NC,L]
RewriteCond %{REQUEST_URI} !assets/(.*)\.
RewriteRule ^([^/]+).* index.php